.container {
  padding: 1rem;
  min-height: 100vh;
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  padding: 1rem 1rem 1.5rem 1rem;

  background: linear-gradient(
    to top,
    transparent 0%,
    rgb(var(--background-start-rgb)) 36%
  );
}

.logo {
  text-align: center;
}

.main {
  padding-top: 2.5rem;
  padding-bottom: 5rem;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 1;
  width: 100%;
  padding: 2rem 1rem 1rem 1rem;

  background: linear-gradient(
    to bottom,
    transparent 0%,
    rgb(var(--background-end-rgb)) 36%
  );
}

/* PC */
@media (min-width: 701px) {
  .main {
    padding-top: 6.5rem;
    padding-bottom: 0;
  }
  .footer {
    top: 3rem;
    bottom: auto;
    padding: 0 1rem 1rem 1rem;

    background: linear-gradient(
      to top,
      transparent 0%,
      rgb(var(--background-start-rgb)) 36%
    );
  }
}
